*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.apk

\.idea/misc\.xml

\.idea/

app/beta/release/

app/free/release/

app/pro/release/

app/freeBeta/debug/

app/freeBeta/release/
