<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laudien.p1xelfehler.batterywarner">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.IntroActivity.IntroActivity" />
        <activity android:name=".Activities.MainActivity.MainActivity" />
        <activity
            android:name=".Activities.HistoryActivity.HistoryActivity"
            android:parentActivityName=".Activities.MainActivity.MainActivity" />
        <activity
            android:name=".Activities.SettingsActivity.SettingsActivity"
            android:parentActivityName=".Activities.MainActivity.MainActivity" />

        <receiver android:name="com.laudien.p1xelfehler.batterywarner.Receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.laudien.p1xelfehler.batterywarner.Receivers.ChargingReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.laudien.p1xelfehler.batterywarner.Receivers.DischargingReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receivers.DischargingAlarmReceiver">
            <intent-filter>
                <action android:name="com.laudien.p1xelfehler.batterywarner.DISCHARGING_ALARM" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.laudien.p1xelfehler.batterywarner.Receivers.AppUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Receivers.NotificationDismissReceiver" />
        <receiver android:name=".Receivers.GrantRootReceiver" />
        <receiver android:name=".Receivers.BothAppsInstalledReceiver">
            <intent-filter>
                <action android:name="com.laudien.p1xelfehler.batterywarner.BOTH_APPS_INSTALLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.OnOffTileService"
            android:icon="@drawable/battery_status_full_white"
            android:label="@string/tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service android:name=".Services.ChargingService" />
        <service android:name=".Services.DischargingService" />
    </application>

</manifest>