<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laudien.p1xelfehler.batterywarner">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />

        <activity
            android:name=".appIntro.IntroActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".preferences.smartChargingActivity.SmartChargingActivity"
            android:parentActivityName=".SettingsActivity">
            <intent-filter>
                <action android:name="com.laudien.p1xelfehler.batterywarner.Activities.SmartChargingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.infoNotificationActivity.InfoNotificationActivity"
            android:parentActivityName=".SettingsActivity">
            <intent-filter>
                <action android:name="com.laudien.p1xelfehler.batterywarner.Activities.InfoNotificationActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.AppUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".tiles.StopChargingTileService"
            android:icon="@drawable/ic_battery_charging_80_white_24dp"
            android:label="@string/tile_stop_charging"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.WarningLowTileService"
            android:icon="@drawable/ic_battery_20_white_24dp"
            android:label="@string/tile_warning_low"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.WarningHighTileService"
            android:icon="@drawable/ic_battery_80_white_24dp"
            android:label="@string/tile_warning_high"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.GraphAutoDeleteService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".services.BackgroundService" />
        <service android:name=".services.DisableRootFeaturesService" />
        <service android:name=".services.EnableChargingService" />
        <service android:name=".services.GrantRootService" />
        <service android:name=".services.TogglePowerSavingService" />
    </application>
</manifest>